@tailwind base;
@tailwind utilities;

body {
  background-image: url("../public/backgroundBodyDesktop.jpeg");
  background-size: cover;
  background-position: center;

  @media only screen and (max-width: 600px) {
    background-image: url("../public/backgroundBodyMobile.jpeg");
    background-size: cover;
    background-position: center;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
