@tailwind base;
@tailwind utilities;

main {
  background-image: url("../public/backgroundBodyDesktop.jpeg");
  background-size: cover;
  background-position: center;
  font-size: 16px;
  overflow: "hidden";
  @media only screen and (max-width: 600px) {
    background-image: url("../public/backgroundBodyMobile.jpeg");
    background-size: cover;
    background-position: center;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.bg-container {
  @apply min-h-[80vh] w-full overflow-auto no-scrollbar bg-slate-400/20  text-white rounded-xl md:p-8 border border-transparent;
}
.logo {
  @apply w-10 h-10 md:w-20 md:h-20;
}
.form-input {
  @apply h-10;
}
.form-input,
.form-textarea {
  @apply w-1/3 bg-primary rounded-lg active:bg-primary focus:bg-primary focus-within:bg-primary placeholder:text-gray-400 placeholder:p-4;
}
.form-button {
  @apply w-1/3 bg-primary rounded-lg h-12 hover:font-semibold flex justify-center items-center gap-3;
}
