@tailwind base;
@tailwind utilities;
html {
  --line-color: #e5e7eb;
}

main {
  background-image: url("../public/backgroundBodyDesktop.jpeg");
  background-size: cover;
  background-position: center;
  font-size: 16px;
  overflow: "hidden";
  @media only screen and (max-width: 600px) {
    background-image: url("../public/backgroundBodyMobile.jpeg");
    background-size: cover;
    background-position: center;
  }
}

/* CUSTOM LINE COLOR */
/* The line */
/* .vertical-timeline.vertical-timeline-custom-line::before {
  @apply w-[1px];
} */

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.bg-container {
  @apply min-h-[80vh] w-full overflow-auto no-scrollbar bg-slate-400/15  text-white rounded-xl md:p-8 border border-transparent;
}
.logo {
  @apply w-10 h-10 md:w-20 md:h-20;
}
.form-input {
  @apply h-12;
}
.form-input,
.form-textarea {
  @apply active:bg-primary focus:bg-primary focus-within:bg-primary placeholder:text-gray-400 placeholder:p-4;
}
.form-button {
  @apply h-12 hover:font-semibold flex justify-center items-center gap-3;
}
.form-input,
.form-textarea,
.form-button {
  @apply min-w-60  w-1/3 bg-primary rounded-lg border border-secondary;
}
.textWhite {
  @apply text-white !font-semibold;
}
.verticalCustomLine {
  @apply before:!w-[1px];
}
.verticalCustomIcon {
  @apply text-red-500;
}
